@charset "UTF-8";
nav{
	width:100px;
}
nav li{
	list-style-type:none;
	font-size:50px;
	padding:50px;
	border-bottom: 1px solid;
	width:180px;
	color:black;
		font-family: 'Nanum Pen Script', cursive;
}
nav ul{
	width:100px;
}

#menu{
	width:100px;
	position:absolute;
	top:200pxpx;
	left:280px;
}
#main{
	border:1px solid;
	width:800px;
	height:500px;
	position:absolute;
	left:600px;
	top:200px;
	
}
h1 {
	text-align:center;
}


